<!-- 
  Checkbox added
  Working with Dropdown list 
  div.form-group>label[for='contactMethod']+select[id='contactMethod'].form-control 

  DA bi selektovali vise opcija iz drop down liste 
  prvo odaberemo jednu zatim pritisnemo ctrl i nakon toga odaberemo 
  dodatne zeljene opcije
 -->
<form #f="ngForm" (ngSubmit)="submit(f)">   
  <div ngModelGroup="contact" #contact="ngModelGroup" >
      <div *ngIf="!contact.valid">......</div>
    <div class="form-group">
          <label for="fristName">First Name</label>
          <input 
          required 
          minlength="4" 
          maxlength="10" 
          pattern="John" 
          ngModel 
          name="firstName" 
          #firstName="ngModel" 
          (change)="log(firstName)" 
          id="firstName" 
          type="text" 
          class="form-control"> 
            <div 
            class="alert alert-danger" 
            *ngIf="firstName.touched && !firstName.valid" >
             <div *ngIf="firstName.errors.required">
               First Name Is Required!
              </div> 
             <div *ngIf="firstName.errors.minlength">
               First Name should be minimum {{firstName.errors.minlength.requiredLength}} characters!
              </div>
             <div *ngIf="firstName.errors.pattern">
               First Name should be John!
              </div>
            </div>
        </div> 
  </div>
  

  <div class="form-group">
    <label for="comment">Comment</label>
    <textarea ngModel name="comment" id="comment" cols="30" rows="10" class="form-control"></textarea>
  </div> 

  <div class="checkbox"><label >
    <input ngModel name="isSubscribed" type="checkbox">Subscribed to mailing list</label>
  </div>  
  <div class="form-group"><label for="contactMethod"></label>
    <select multiple ngModel name="contactMethod" id="contactMethod" class="form-control">
      <option *ngFor="let method of contactMethods" [value]="method.id" >{{ method.name }}</option>
    </select>
  </div>
  <p>
    {{ f.value | json }} <!-- Sluzi da bi vidjeli unesene vrijednosti -->
  </p>

<button class="btn btn-primary" [disabled]="!f.valid">Submit</button>
</form>