<!--
Control Classes and Directives 
U Angularu imamo dvije klase sa kojima mozemo pratiti 
stanje i validnost form i input polja: 
-FormControl (predstavlja samo jedno input polje) <====== ngModel
-FormGroup (predstavlja grupu input polja) <========ngForm ili ngModelGroup
Kada primjenimo ngModel direktivu na input polje Angular 
automacki kreira FormControl objekt i asocira ga sa tim input poljem 
FromGroup class se koristi da predtavimo cijelu formu ili 
opcionalno grupu input polja u formi. 

Razlika izmedju ngForm i ngModelGroup jeste to 
ngForm direktiva izlaze "output" property ngSubmit 
kojeg koristimo da manipulisemo sa submit akcijom forme 
ngModelGroup nema takav property jer nema smisla da  
grupa input polja ima zasebno submit akciju
 -->
<form #f="ngForm" (ngSubmit)="submit(f)">   
  <div ngModelGroup="contact" #contact="ngModelGroup" >
      <div *ngIf="!contact.valid">......</div>
    <div class="form-group">
          <label for="fristName">First Name</label>
          <input 
          required 
          minlength="4" 
          maxlength="10" 
          pattern="John" 
          ngModel 
          name="firstName" 
          #firstName="ngModel" 
          (change)="log(firstName)" 
          id="firstName" 
          type="text" 
          class="form-control"> 
            <div 
            class="alert alert-danger" 
            *ngIf="firstName.touched && !firstName.valid" >
             <div *ngIf="firstName.errors.required">
               First Name Is Required!
              </div> 
             <div *ngIf="firstName.errors.minlength">
               First Name should be minimum {{firstName.errors.minlength.requiredLength}} characters!
              </div>
             <div *ngIf="firstName.errors.pattern">
               First Name should be John!
              </div>
            </div>
        </div> 
  </div>
  

<div class="form-group">
  <label for="comment">Comment</label>
  <textarea ngModel name="comment" id="comment" cols="30" rows="10" class="form-control"></textarea>
</div>

<button class="btn btn-primary">Submit</button>
</form>