<!-- 
Building bootstrap forms 
Add Validation (FormControl) 
FormControl: 
value 
touched 
untouched 
dirty 
pristine 
valid 
errors 
FormGroup: (svaka forma je form grupa) 
value 
touched 
untouched 
dirty 
pristine 
valid 
errors 
Postoje dva nacina za kreiranje Control objekata: 
-Directives (Template-driven forms)
-Code (ekspricitno kreiranje kontrol objekata )(Reactive Forms) 
Razlika: 
Reactive forms:
Kada kreiramo reactive forms imamo vecu kontrolu nad validacijskom logikom 
mozemo unittest validacijsku logiku  
Template-driven forms: 
lakse za implementirat ali imamo manju kotrolu nad validacijom 
manje koda
-->  
<contact-form></contact-form>
   