<div *ngFor="let follower of followers" class="media">
  <div class="media-left">
    <a href="#">
      <img class="avatar media-object" src="{{ follower.avatar_url }}" alt="...">
    </a>
  </div>
  <div class="media-body">
    <h4 class="media-heading"> 
      <!--Ovdje smo kreirali link za svakog specificnog korisnika-->
      <a [routerLink]="['/followers',follower.id]">{{ follower.login }}</a> 
    </h4>
    <a href="follower.html_url">{{ follower.html_url }}</a>
  </div>
</div> 
<!-- RouterLink 
  -Obicni Link 
    <a routerLink="/followers">Followers</a> 
  -Route Parametri 
  Ako radimo sa rutama i parametrima onda moramo koristiti property-binding sintaksu 
    <a [routerLink]="['/followers',follower.id]"></a> 
-->